.list-shop header {
  margin-bottom: 3em;
}
.list-tag header {
  margin-bottom: 1em;
}

.list_title {
  font-size: 180%;
  font-weight: bold;
  border-bottom: 2px solid var(--color);
  line-height: 1.8;
}

.list_caption {
  font-size: 120%;
  font-weight: normal;
}


.articles {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  margin-bottom: 2em;
}

.menu_shop {
  font-size: 140%;
}

.menu_title {
  font-size: 160%;
  font-weight: bold;
}
.menu_price {
  font-size: 150%;
  margin-top: 0;
}

.menu_tags {
  color: #888;
  font-size: 90%;
  margin-top: 1em;
}
.menu_tag {
  display: inline-block;
}
.menu_tag:first-child:before {
  content: '› ';
}
.menu_tag:not(:last-child):after {
  content: ', ';
}
