{{ define "kind" }}{{ if .Data.Singular }}tag{{ else }}shop{{ end }}{{ end }}


{{ define "title" }}
{{ $is_tag := .Data.Singular }}
{{ $shop := (index $.Site.Data.shops (index .Data.Pages 0).Section) | default false}}
{{ if $is_tag }}{{ .Title }} のメニュー | {{ .Site.Title }} (朝定食データベース){{ else }}{{ $shop.name }} の朝定食 | {{ .Site.Title }} (朝定食データベース){{ end }}
{{ end }}


{{ define "main" }}

  {{ $is_tag := .Data.Singular }}
  {{ $shop := (index $.Site.Data.shops (index .Data.Pages 0).Section) | default false}}


  <header class="list_header">
    {{ if $is_tag }}
      <h1 class="list_title header_title">{{ .Title }} のメニュー</h1>
    {{ else }}
      <h1 class="list_title header_title">{{ $shop.name }} の朝定食</h1>
      <h2 class="list_caption">販売時間: {{ $shop.time }}</h2>
    {{ end }}
  </header>


  {{ partial "ad/top.html" . }}


  <div class="articles">
    {{ range (.Paginator).Pages }}

      <article class="menu col-xs-12 col-sm-6 col-md-4">

        {{ if $is_tag }}
          <h3 class="menu_shopname"><a href="/{{ .Section }}/">{{ (index $.Site.Data.shops .Section).name }}</a></h3>
        {{ end }}

        <img src="/assets/img{{ replaceRE "(/?)$" "" .RelPermalink }}.jpg" alt="{{ .Title }}" class="img-responsive">
        <h1 class="menu_title">{{ .Title }}</h1>
        <h2 class="menu_price">{{ .Params.price }} 円</h2>
        <div class="menu_content">
          {{ .Content }}
        </div>

        <footer class="menu_meta">
          <ul class="menu_tags list-unstyled">
            {{ range $i, $e :=.Params.tags }}
             <li class="menu_tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
            {{ end }}
          </ul>
        </footer>

      </article>
    {{ end }}
  </div>

  <div class="text-center">
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
      {{ template "_internal/pagination.html" . }}
    {{ end }}
  </div>

  {{ if not $is_tag }}
    <footer class="list_footer">
      <h1 class="list_title header_title">その他の情報</h1>
      <div class="list_caption">
        <p>{{ $shop.content }}</p>
        <p>URL: <a href="{{ $shop.site }}">{{ $shop.site }}</a></p>
      </div>
    </footer>
  {{ end }}

{{ end }}
