{{ partial "header.html" . }}

{{ $is_tag := .Data.Singular }}

<div class="container">
  <div class="row">
    <main class="list {{ if $is_tag }}list-tag{{ else }}list-shop{{ end }} col-md-9">
      <header>
        {{ if $is_tag }}
          <h1 class="list_title">{{ .Title }} のメニュー</h1>
        {{ else }}
          {{ $shop := index $.Site.Data.shops (index .Data.Pages 0).Section }}
          <h1 class="list_title">{{ $shop.name }} の朝定食</h1>
          <h2 class="list_caption">販売時間: {{ $shop.time }}</h2>
        {{ end }}
      </header>

      <div class="articles">
        {{ range (.Paginator).Pages }}

          <article class="menu col-xs-12 col-sm-6 col-md-4">

            {{ if $is_tag }}
            <h3 class="menu_shop"><a href="/{{ .Section }}/">{{ (index $.Site.Data.shops .Section).name }}</a></h3>
            {{ end }}

            <img src="/assets/img{{ replaceRE "(/?)$" "" .RelPermalink }}.jpg" alt="{{ .Title }}" class="img-responsive">
            <h1 class="menu_title">{{ .Title }}</h1>
            <h2 class="menu_price">{{ .Params.price }} 円</h2>
            <div class="menu_content">
              {{ .Content }}
            </div>

            <footer class="menu_meta">
              <ul class="menu_tags list-unstyled">
                {{ range $i, $e :=.Params.tags }}
                <li class="menu_tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
              </ul>
            </footer>
          </article>
        {{ end }}
      </div>

      <div class="text-center">
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          {{ template "_internal/pagination.html" . }}
        {{ end }}
      </div>

    </main>

    <aside class="col-md-3">
      {{ partial "sidebar.html" . }}
    </aside>
  </div>
</div>

{{ partial "footer.html" . }}
