{{ define "kind" }}post{{ end }}


{{ define "title" }}
{{ .Title }} | {{ (index $.Site.Data.shops .Section).name }} のメニュー | {{ .Site.Title }}
{{ end }}


{{ define "main" }}

{{ partial "ad/top.html" . }}

<article>
  <header class="list_header">
    <h1 class="list_title header_title">{{ .Title }}</h1>
    <h2 class="menu_shopname"><a href="/{{.Section}}/">{{ (index $.Site.Data.shops .Section).name }}</a></h2>
  </header>

  <main>
    <img src="/assets/img{{ replaceRE "(/?)$" "" .RelPermalink }}.jpg" alt="{{ .Title }}">

    <h2 class="menu_price">{{ .Params.price }} 円</h2>
    <div class="menu_content">
      {{ .Content }}
    </div>
  </main>


  <footer class="menu_meta">
    <ul class="menu_tags list-unstyled">
      {{ range $i, $e :=.Params.tags }}
      <li class="menu_tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  </footer>
</article>
{{ end }}
