{{ define "kind" }}post{{ end }}


{{ define "title" }}
{{ .Title }} | {{ (index $.Site.Data.shops .Section).name }} のメニュー | {{ .Site.Title }}
{{ end }}


{{ define "main" }}
  <h3>{{ .Title }}</h3>

  {{ .Content }}

  <footer>
    <time>{{ if .Site.Params.strings.date_format }}{{ .Date.Format .Site.Params.strings.date_format }}{{ else }}{{ .Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>
    {{ range $i, $e :=.Params.tags }}
    <a href="/tags/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </footer>
{{ end }}
