{{ partial "header.html" . }}

<main class="container">

  {{ if .Params.youtube }}
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="player" type="text/html" src="//www.youtube.com/embed/{{ .Params.youtube }}?enablejsapi=1" frameborder="0"></iframe>
  </div>
  {{ end }}

  <h3>{{ .Title }}</h3>

  {{ .Content }}

  <footer>
    <time>{{ if .Site.Params.strings.date_format }}{{ .Date.Format .Site.Params.strings.date_format }}{{ else }}{{ .Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>
    {{ range $i, $e :=.Params.tags }}
    <a href="/tags/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </footer>

</main>

{{ partial "footer.html" . }}
