<!DOCTYPE html>
<html class="no-js" lang="ja" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ .Title }}">
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}img/icon.jpg">
  <title>
    {{ if eq .Kind "section" }}
      {{ (index $.Site.Data.shops (index .Data.Pages 0).Section).name }} の朝定食
    {{ else if eq .Kind "taxonomy" }}
      {{ .Title }} のメニュー
    {{ else if eq .Kind "page" }}
      {{ .Title }} | {{ (index $.Site.Data.shops .Section).name }} のメニュー
    {{ end }}
    {{ if not .IsHome }}
     |
    {{ end }}
    {{ .Site.Title }} (朝定食データベース)
  </title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/styles.css">
  <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ .Site.BaseURL }}assets/js/scripts.js"></script>
</head>
<body>

{{ partial "nav.html" . }}
