{{ define "kind" }}home{{ end }}


{{ define "main" }}
  <header>
    <h3 class="toppage_title header_title">店舗から選ぶ</h3>
  </header>


  {{ partial "ad/top.html" . }}


  <div class="row articles">
    {{ range $i, $shop := sort .Site.Data.shops "order" }}
      <article class="toppage_shop col-xs-6 col-sm-4 col-md-3">
        <a href="{{ $.Site.BaseURL }}{{ $shop.id }}/">
          <img src="/assets/img/{{$shop.id}}/logo.jpg" alt="{{$shop.name}}" class="img-responsive">
          <h1 class="toppage_title">{{ $shop.name }}</h1>
          <p class="toppage_caption">販売時間: {{ $shop.time }}</p>
        </a>
      </article>
    {{ end }}
  </div>
{{ end }}
